@CHARSET "ISO-8859-1";

body {
	background-image: url("../img/fd3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.col-sm-8 {
	background-color: white;
}

footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

#logo {
	width: 30px;
	height: 30px;
}

#inputSubmit {
	text-align: center;
}

form {
	border: 1px black solid;
}

legend, fieldset>input, fieldset>p {
	margin-left: 4px;
}

[required] {
	border: 2px solid orange;
}
.messageErreur{
	color: red;
	font-weight: 700;
}